{% extends '_page.html.twig' %}

{% block content %}
  <p>
    このページは管理画面です
  </p>
  <h2>{{ quiz.title }}</h2>
  <p>
    {{ quiz.description }}
  </p>
  <h2>テストケース一覧</h2>
  <ul>
    {% for testcase in testcases %}
      <li><a href="{{ url_for('admin_testcase_edit', { qslug: quiz.slug, tid: testcase.testcase_id }) }}">テストケース #{{ testcase.testcase_id }}</a></li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('admin_testcase_new', { qslug: quiz.slug }) }}">テストケースを追加する</a>
{% endblock %}
