{% extends '_page.html.twig' %}

{% block content %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('quiz_list') }}">問題一覧</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('quiz_view', { qslug: quiz.slug }) }}">{{ quiz.title }}</a></li>
      <li class="breadcrumb-item active">提出</li>
    </ol>
  </nav>

  <h2>{{ quiz.title }}</h2>
  <p>
    {{ quiz.description }}
  </p>
  <h3>実装例</h3>
  <pre><code class="hljs language-php">{{ quiz.example_code }}</code></pre>
  <h3>回答</h3>
  {{ include('form/_form.html.twig') }}
{% endblock %}
